* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* margin: 20px 20px; */
}
.container > h2 {
  font-weight: bold;
  font-size: 3rem;
}
.cart {
  position: fixed;
  right: 2px;
  top: 5px;
  background-color: rgb(11, 253, 253);
  padding: 5px 20px;
  border-radius: 3px;
}
.cart:hover {
  cursor: pointer;
}
.carousel {
  width: 80%;
  height: 70vh;
  background-image: url(./Assets/mark-champs-Id2IIl1jOB0-unsplash.jpg);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px 20px;
}
.items {
  /* padding: 10px 20px; */
}
.card {
  width: 300px;
  /* border: 1px solid grey; */
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 48vh;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
}

.card:hover {
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 65%;
  object-fit: cover;
}
.items {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* align-items: center; */
  /* justify-items: center; */

  /* flex: 1; */
}

.checkout__buttons button,
.items button {
  display: inline;
  padding: 10px 15px;
  outline: none;
  border: none;
  background-color: rgb(132, 247, 247);
}
.checkout__buttons button:hover,
.items button:hover {
  cursor: pointer;
  background-color: rgb(11, 253, 253);
}
.quantity {
  display: none;
}
.icon {
  position: relative;
}
.icon:hover {
  cursor: pointer;
}

.fa {
  font-weight: bold !important;
}
#items-count {
  position: absolute;
  right: 0;
  top: -1px;
  font-size: 0.7rem;
  padding: 2px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 252, 252);
  border-radius: 50%;
}

/* -----------------Styling for checkout page------------------- */
.checkout {
  display: flex;
  justify-content: center;

  margin: 20px;
}

.cart__container {
  /* background-color: rgb(210, 218, 221); */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* align-items: center; */
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  min-height: 50vh;
  padding: 10px;
}
.cart__header {
  font-weight: bold;
  /* font-size: 1.25em; */
  color: #333;
}
.cart__column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 20px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.cart__row {
  display: flex;
}
.cart__item__image {
  width: 30px;
  height: auto;
  border-radius: 10px;
}
.cart__item__title {
  color: #333;
  margin-left: 10px;
  font-size: 15px;
}
.cart__item {
  width: 25%;
}
.cart__price {
  width: 15%;
  font-size: 1.2em;
  color: #333;
}

.cart__quantity {
  width: 15%;
  overflow: hidden;
}
.cart__total {
  width: 15%;
}
.cart__totalWdiscount {
  width: 15%;
}
.cart__discount {
  width: 15%;
}
.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56ccf2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  /* font-size: 1.2em; */
  outline: none;
  margin-right: 25px;
}
.cart__total {
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}
.cart__total__title {
  font-weight: bold;
  /* font-size: 1.5em; */
  color: black;
  margin-right: 15px;
}
.cart__total__price {
  color: #333;
  font-size: 1.1em;
}
/* fix line 200-206 last border bottom not showing */
.cart__row:last-child {
  border-bottom: 1px solid black;
}

.cart__row:last-child .cart__column {
  border-bottom: none;
}
.checkout__buttons {
  display: flex;
  justify-content: space-between;
}
/*





/* slides */
.carousel__container {
  width: 60%;
  margin: auto;
  border: 1px solid black;
  /* overflow-x: hidden; */
}
.carousel__slides {
  width: 100%;
  height: 60vh;
  display: flex;
}
.carousel__slides > img {
  width: 100%;
  object-fit: cover;
}
/* modal styles */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  /* border: 1px solid black; */
  border-radius: 10px;
  z-index: 100;
  background-color: white;
  width: 70vw;
  /* max-width: 80%; */
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.38);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.remove {
  width: 4px;
  height: 4px;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
}
.remove:hover {
  cursor: pointer;
  margin-top: 1px;
  color: red;
}

/* ------------------------slider----------------------*/
.mySlides {
  /* display: none; */
}
.mySlides > img {
  width: 100%;
  height: 50vh;
  vertical-align: middle;
  object-fit: cover;
}

/* Slideshow container */
.slideshow-container {
  width: 75%;
  /* height: 50vh; */
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDots,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
